<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hire me: Amit Rahav</title>
    <link rel="stylesheet" href="/static/style.css">
    <!-- Socket IO  -->
      <script type="text/javascript"
              src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js">
      </script>

    <link href="https://fonts.googleapis.com/css2?family=Exo+2&display=swap" rel="stylesheet">

</head>
<body>
    <h1>Mirror mirror on the browser</h1>
    <div class="flex">
        <div class="flex vertical">
            <h2>Your Camera input</h2>
            <video autoplay="true" id="normal"></video>
        </div>
        <div class="flex vertical">
            <h2>OpenCV flipped ou</h2>
            <div id="flipped"></div>
        </div>
    </div>

    <script src="/static/script.js" charset="utf-8"></script>

</body>
</html>